# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/



# Windows
Thumbs.db

# MySQL dump files
*.sql

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.pytest_cache/

